@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;800&family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    /* Colors */
    --color-primary: #0B4F6C;
    --color-secondary: #0D1321;

    --color-brand: #0B4F6C;
    --color-white: #FFFFFF;
    --color-rd: #F71818;
    --color-error: #F71818;
    --color-positive: #48DB83;
    --color-grey: #ABABAB;
    --color-inactive: #ABABAB;
    --color-black: #0D1321;
    --background-color: #F6F4EE;

    /*background*/
    --background-color-blue: #B6D9DE;
    --background-color-white: #0D1321;
    --background-color-beige: #F6F4EE;

    /*Border-Corlor:*/
    --border-color-black: #0D1321;
    --border-color-grey: #ABABAB;
    --border-color-red: #F71818;
    --border-color-blue: #0B4F6C;

    --font-family-title: 'Prompt', sans-serif;
    --font-family-legend: 'Karla', sans-serif;
    --background-input-color: var(--color-white);

    /* Spacing */
    /* The margin between text and button */
    --space-1: 8px;
    /*The margin between label + input*/
    --space-2: 12px;
    /*The margin between title and content*/
    --space-3: 28px;
    --space-4: 32px;
    --space-5: 44px;
    --btn-border-radius: 24px;
}

.text_title_1 {
    text-transform: uppercase;
    text-align: center;
    font-style: normal;

    font-family: var(--font-family-title);
    font-weight: 500;
    color: var(--color-black);
}

.text_current_text {
    font-style: normal;
    text-align: center;

    font-family: var(--font-family-legend);
    font-weight: 500;
    color: var(--color-black);
}

.text_subtitle {
    font-style: normal;
    text-align: center;

    font-family: var(--font-family-legend);
    font-weight: 500;
    color: var(--color-black);
}

.text_legend {
    font-style: normal;
    font-family: var(--font-family-legend);
    font-weight: 300;
    color: var(--color-black);
}

.text_legend.regular {
    font-weight: 300;
}

.text_legend.bold {
    font-weight: 500;
}


/*Small */
@media screen and (max-width: 480px) {
    .text_title_1 {
        font-size: 42px;
    }

    .text_current_text {
        font-size: 16px;
    }

    .text_legend {
        font-size: 12px;
    }
}

/*Large*/
@media screen and (min-width: 480px) {
    .text_title_1 {
        font-size: 64px;
    }

    .text_current_text {
        font-size: 20px;
    }

    .text_legend {
        font-size: 14px;
    }

    body {
        margin: 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

html {
    font-family: var(--font-family-legend);
    font-size: 62.5%;
    color: var(--color-black);
    background-color: var(--background-color);
    height: 100%;
}

body {
    font-family: var(--font-family-legend);
    font-size: 62.5%;
    color: var(--color-black);
    background-color: var(--background-color);
    margin: 23px 16px 61px 16px;
    height: 100%;
}

#__next {
    height: 100%;
}

main {
    height: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}


/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: var(--font-family-title);*/
/*    color: var(--color-black);*/
/*    margin-block-end: 0;*/
/*    margin-block-start: 0;*/
/*}*/

h1 {
    margin-block-end: 0;
    margin-block-start: 0;
}

h2 {
    font-family: var(--font-family-legend);
    font-size: 16px;
    font-weight: 500;
}

p, span, label {
    color: var(--color-black);
    font-size: 16px;
    font-family: var(--font-family-legend);
    font-weight: 300;
}


input {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    font-family: var(--font-family-title);
    height: 100%;
    width: 100%;
    /*height: 50px;*/

    /* Colors/White */
    /*background: var(--background-input-color);*/

    border: none;
    border-radius: 24px;
    /*!* Inside auto layout *!*/

    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 0;*/
}


input:active {
    border: none;
}

input:focus {
    border: none;
}

input:focus-visible {
    border: none;
    outline: none;
}

a {
    text-decoration: underline;
    font: var(--font-family-legend);
    color: var(--color-primary);
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

a:focus {
    font-weight: 500;
}

button {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    margin: 0;
}