/*.main{*/
/*    background-color: #f5f5f5;*/
/*    padding: 1rem;*/
/*    border-radius: 0.5rem;*/
/*    margin: 1rem;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
/*}*/

.input_icon_container {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;

    font-family: var(--font-family-title);

    width: 100%;
    height: 50px;

    /* Colors/White */
    background: var(--background-input-color);

    border: 1px solid var(--color-grey);
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input_icon_container_focus {
    border: 1px solid var(--color-primary);
}

.input_icon_container:disabled {
    border: 1px solid var(--color-primary);
}

.input_icon_container.error {
    border: 1px solid var(--color-rd);
    border-radius: 24px;
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
    width: 100%;
    /*padding: 0 20px;*/
}

.form_row {
    width: 100%;
    margin-bottom: var(--space-2);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.login_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
}

.register_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--space-2);
    margin: 0 20px;
}

button.btn {

    padding: 12px 24px;

    width: 100%;
    height: 50px;
    left: 20px;

    /* Colors/Dark blue */

    border-radius: 24px;

    /*text*/
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.btn_primary {
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    background: var(--color-primary);
}

.btn_primary:hover {
    border: 1px solid var(--color-primary);
    background: var(--color-white);
    color: var(--color-primary);
}

.btn_primary:disabled {
    border: 1px solid var(--color-inactive);
    background: var(--color-inactive);
    color: var(--color-white);
}

.btn_primary:active {
    border: 1px solid var(--border-color-black);
    background: var(--border-color-black);
    color: var(--color-white);
}


.btn_outline_secondary {
    background: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.btn_outline_secondary:hover {
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
}

.btn_outline_secondary:disabled {
    background: var(--color-inactive);
    border: 1px solid var(--color-inactive);
    color: var(--color-white);
}
.btn_header{
    padding: 0 44px 0 44px;
}